

.polaroid{
    margin: 10px 5px 10px 5px;
    display: inline-block;
    position: relative;
    width: 260px;
    margin: 20px;
}


.polaroid p {
    font-size: 16px;
    color: white;
    position: absolute;
    /* bottom: 10px; */
    text-align: center;
    width: 280px;
}

.polaroid img{
    border: 10px solid #ccc;
  border-bottom-width: 45px;
}