.polaroid{
    display:inline-block;
    margin: 30px;
    position: relative;
}

.polaroid p{
    position: absolute;
    font-family: Georgia, serif;
    font-size: 36px;
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
    top: 150px;
    color: white;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
}

.polaroid img{
    border: black solid 10px;
}

body{
    background-color: darkgray;
}