body{
    background-color: aquamarine;
}
button{
font-family: Robo Mono monospace;
font-size: x-large;
text-transform: uppercase;
border: 2px solid limegreen;
background-color: pink;
box-shadow: 5px 5px 2px;
cursor: pointer
}
.center{
display: flex;
text-align: center;
justify-content: center;
}