.polaroid{   
     width: 260px;
    display:inline-block;

    position: relative;
}

.polaroid:hover{
    transform: matrix(3, 0.3, 0.3, 3, 200, 100) rotate(360deg);
    transition: transform 1s;
}


.polaroid p{
    position: absolute;
    font-family: Georgia, serif;
    font-size: 36px;
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
    top: 150px;
    color: white;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
}

.polaroid img{
    border: black solid 10px;
}

body{
    background-color: darkgray;
}

